<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<title>Document</title>
</head>

<body>
	<div id="app">
		<section id="imagens">
			<div v-for="imagem in Imagens">
				<img :src="imagem" width="100px" />
			</div>
		</section>
		<section id="ArrayIndice">
			<p v-for="(fruta, index) in Frutas">{{index}} - {{fruta}}</p>
		</section>
		<section id="ArrayValueKeyIndice">
			<ul>
				<li v-for="(value, key, index) in Usuarios[0]">
					{{index}} - {{key}} : {{value}}
				</li>
			</ul>
		</section>

	</div>

	<script>
		new Vue({
			el: "#app",
			data: {
				Imagens: ['img/logo1.png', 'img/logo2.png', 'img/logo3.png',],
				Frutas: ['Pera', 'Maça', 'Uva'],
				Usuarios: [
					{ nome: 'Pera', idade: '11' },
					{ nome: 'Maça', idade: '18' },
					{ nome: 'Uva', idade: '20' }]
			},
		})
	</script>
</body>

</html>